h1{
 background-color: red;
 color: black;
 text-align: center;
 padding: 2%;
 font-size: 20px;
 font-style: italic;
 position: sticky;
}
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
    text-align: center;
  }

.dog{
    margin-left: 450px;
    
    border-radius: 10px;

}
.img1{
    width: 350px;
    height: 200px;
    padding: 10px;
}
.img2{
    width:350px;
    height: 200px;
    padding: 10px;
}
.img3{
    width:350px;
    height: 200px;
    padding: 10px;

}
.img4{
    width:350px;
    height: 200px;
    padding: 10px;
}
.img5{
    width:350px;
    height: 200px;
    padding: 10px;
}
.img6{
    width:350px;
    height: 200px;
    padding: 10px;
}
.img7{
    width:350px;
    height: 200px;
    padding: 10px;
}