.parent1{
  position: absolute;
   z-index: 3; 
  height: 60px;  
  width: 70%;
  left: 100px;
  top: 50px;
}
  img:hover{
    top: 3rem;
    left: 3rem;
    transform: scale(0.5,0.5)translate(30px);
    
}
  
  .cokiesbox{
    position: absolute;
    margin-top: 30px;
    z-index: 3;
    top: 50px;
    image-rendering:   hidden;
    
}  

img:hover{
    top: 3rem;
    left: 3rem;
    transform: scale(0.5,0.5)translate(30px);
  
    /* margin-bottom: 50px; */
    
}
botton{
    width: 20px;
    padding: 30px;
}

